#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
#if ($displayParameters.defaultScreen)
<input class="text" id="$customField.id" maxlength="254" name="$customField.id"${style} type="text"
       value="$textutils.htmlEncode($!value)"/>
#else
    #if($notconfigured)
    <div class="formErrors">$i18n.getText("requestedfields.settings.error")</div>
    #else
        #set($data = $runner.getData())
        #set($error = $data.getError())
        #set($vals = $data.getVals())
        #if($error)
        <div class="formErrors">$textutils.htmlEncode($!error)</div>
        #else
        <select class="select" name="$customField.id" id="$customField.id">
            #foreach($val in $vals)
                <option #if($value && $value == $val)selected="selected"#end value="$val">$val</option>#end
        </select>
        <script type="text/javascript">
            var customId = "${customField.id}";
            (function ($) {
                $(document).ready(function () {
                    AJS.$('#' + customId + "option[value='-1']").remove(); //Removes the default value "None"

                    function convertMulti(id) {
                        if (AJS.$('#' + id + "-textarea").length == 0) {
                            new AJS.SingleSelect({
                                element: $("#" + id),
                                itemAttrDisplayed: "label",
                                errorMessage: AJS.params.singleselectComponentsError
                            });
                        }
                    }

                    AJS.toInit(function () {
                        convertMulti(customId);
                    })

                    JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function (e, context) {
                        AJS.$('#' + customId + "option[value='-1']").remove();
                        convertMulti("customfield_" + customId);
                    });
                });
            })(AJS.$ || jQuery);
        </script>
        #end
    #end
#end
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)